* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 500px;
  background: #11030344;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 5px;
  align-items: center;
}
form {
  background: #eeeeee;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
}
form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
form button:hover {
  background-color: #0056b3;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.signup-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-left: 5px;
}
p {
  display: flex;
  align-items: center;
  justify-self: center;
  color: gray;
  margin-top: 20px;
}
.login-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-left: 5px;
}
